{% extends "base.html" %}
{% load humanize %}

{% block extra_js %}
{{ block.super }}
{% if not worldmap_layerinfo and not Dataverse_Connect_Err_Msg %}
<!-- Map exists and it was created from a shapefile -->
<script src="{{ STATIC_URL }}js/geoconnect_common.js"></script>
<script>
{% include "shapefiles/ajax_attempt_visualization.js" %}
</script>
{% endif %}
{% endblock %}

{% block main_container %}
{% include "gis_data_info/citation.html" %}

<div class="pull-left" style="width:100%;">

  {% if Err_Found or Dataverse_Connect_Err_Msg %}
  <!-- The shapefile didn't open at all,
  failed when ingested by a shapefile reader (e.g. bad zip/bad file),
  or contained multiple shapefiles -->
  {% include "gis_shapefiles/view_02a_err_examine.html" %}
  {% elif first_time_notify and not worldmap_layerinfo %}
  <!-- First time file is loaded, show a notification -->
  <div id="id-first-time-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    File <b>{{ shapefile_info.datafile_label }}</b> verified!
    &nbsp; (<b>{{ shapefile_info.number_of_features|intcomma }}</b> geospatial
    feature{{ shapefile_info.number_of_features|pluralize }})
  </div>
  {% endif %}
  <div id="id_alert_container" style="display:none;"></div>

  <!-- start panel -->
  <div class="panel panel-default">
    {% include "gis_data_info/panel_page_title.html" %}
    <div class="panel-body" id="id_main_panel_content">
      {% if not gis_data_info %}
      Please return to the dataverse.
      {% include "gis_data_info/return_to_dataverse_link.html" %}
      {% endif %}

      {% if not Err_Found %}
        {% if worldmap_layerinfo %}
          <!-- We have a map here -->
          {% include "worldmap_layers/map_with_classify.html" %}
        {% else %}
            {% include "shapefiles/content_setup_shp.html" %}
        {% endif %}
      {% endif %}


    </div><!-- end main panel content -->
  </div><!-- end: panel -->

  {% if gis_data_info.is_shapefile %}
    {% include "gis_shapefiles/shapefile_info_panel.html" %}
  {% endif %}

</div>
{% endblock %}
