<!-- View Map Metadata -->
<a data-toggle="modal" data-target="#view_map_metadata" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View Map Metadata</a>

<!-- Modal View -->
<!-- Start: Modal Delete Map -->
<div class="modal fade" id="view_map_metadata" tabindex="-1" role="dialog" aria-labelledby="modalMetadataLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalMetadataLabel">View Map Metadata</h4>
      </div>
      <div class="modal-body pagination-centered">
                My, my, metadata....
      </div>
      <div class="modal-footer text-left">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End: Modal Delete Map -->
