<!-- start: IFRAME MAP -->
<div class="row">
    <div class="col-md-9">

        &nbsp; <small><a href="{{ core_data.layer_link }}" target="_blank">(View on WorldMap)</a></small>
        <iframe id="id_iframe_map" height="275" width="100%" src="{{ core_data.embed_map_link }}"></iframe>
    </div>
    <div class="col-md-3">
        <h5>Legend</h5>
        <img src="{{ worldmap_layerinfo.get_legend_img_url }}" id="legend_img" alt="(legend not available)" style="border:1px solid #ccc; padding:7px;" />

        {% include "worldmap_layers/button_download_links.html" %}
    </div>
</div>
{% if classify_form %}
<!-- start:  Classify form -->
<div id="div_classify_form">{% include "classification/view_classify_form.html" %}</div>
<!-- end:  Classify form -->
{% endif %}

{% if DEBUG_MODE or is_staff %}
    {% include "gis_tabular/map_attributes_list.html" %}
    {% include "gis_tabular/core_data_list.html" %}
{% endif %}

{% if classify_form %}
    {% if delete_form %}
        {% include "worldmap_layers/modal_delete_confirm.html" %}
    {% endif %}
    {% if gis_data_info %}
        {% include "worldmap_layers/modal_save_confirm.html" %}
    {% endif %}
    {% include "classification/classify_form_dynamic_js.html" %}
{% endif %}
{% include "worldmap_layers/delete_and_back_to_dv_links.html" %}

<!-- end: IFRAME MAP -->
