{% if worldmap_layerinfo %}
<div class="row">
  <div class="col-xs-12">

    <div class="alert alert-success" style="margin-left:auto;margin-right:auto;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <span class="glyphicon glyphicon-ok"></span> <b>Success!</b> &#151; Map added to WorldMap.
    </div><!-- end: alert -->

    {% if worldmap_layerinfo.get_unmapped_record_count > 0 %}
    <div class="alert alert-warning" style="margin-left:auto;margin-right:auto;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <span class="glyphicon glyphicon-warning-sign"></span> <b>Warning!</b> &#151; There were some issues.

      {% if worldmap_layerinfo.is_shapefile_layer %}
        <!-- shapefile layer message -->
        {% include "shapefiles/new_map_message_shape.html" %}
      {% elif worldmap_layerinfo.is_join_layer %}
        <!-- join layer message -->
        {% include "tabular_files/new_map_message_join.html" %}
      {% elif worldmap_layerinfo.is_lat_lng_layer %}
        <!-- lat/lng layer message -->
        {% include "tabular_files/new_map_message_lat_lng.html" %}
      {% endif %}
    </div><!-- end: alert -->
    {% endif %}

  </div><!-- end: col -->
</div><!-- end: row -->
{% endif %}
