{% if classify_form %}
<div class="row">


<!-- col 1 -->
<div class="col-md-8"><h4>Style the Layer</h4>
    <div id="id_progress_bar" style="display:none;" class="progress">
      <div id="id_progress_bar_img" class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span id="id_progress_bar_text"></span>
      </div>
    </div>
    <div id="simple_msg_div" style="display:none"></div>
        {% if success_msg %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           {{ success_msg|safe }}
        </div>
        {% endif %}
        {% if error_msg %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Error!</strong> {{ error_msg|safe }}
        </div>
        {% endif %}
    
<!-- start form --><form id="frm_classify" class="form-{% if form_inline %}inline{% else %}horizontal{% endif %}" role="form" method="post" xaction="#" {#action="{% url 'view_classify_layer_form' import_success_object.md5 %}"#}><!-- shapefile_set.md5 -->

    
    {% csrf_token %}{% for hidden in classify_form.hidden_fields %}{{ hidden }}{% endfor %}

    {% for field in classify_form.visible_fields %}{% spaceless %}
    <div class="form-group">
        <label for="{{ field.auto_id }}" class="{% if form_inline %}sr-only{% else %}col-sm-3 control-label input-sm{% endif %}">{{ field.label }}</label>
        <div class="col-sm-4">
                {% if field.errors %}{{ field.errors}}{% endif %}
                {{ field }}            
        </div>
     </div>
    {% endspaceless %}{% endfor %}
     <div class="text-center"><a class="btn btn-sm btn-primary" id="id_frm_style_submit">Classify</a></div>
</form><!-- end form -->
</div><!-- end: col 1 -->
<!-- col 2 -->
<div class="col-md-3">

(message)
</div><!-- end: col 2 -->

</div><!-- end: classify row>
{% endif %}
	
