{% if classify_form %}

{% if classify_msg %}
<div id="classify_msg"></div>
{% endif %}
<form method="post" action="{% url 'view_classify_layer_form' shapefile_set.md5 import_success_object.md5 %}">
    {% csrf_token %}{% for hidden in classify_form.hidden_fields %}{{ hidden }}{% endfor %}
    <table class="table-condensed" style="border:none;">
    
    <tr>
        {% for field in classify_form.visible_fields %}
            <th>{{ field.label }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for field in classify_form.visible_fields %}
            <td>{{ field }}{% if field.errors %}<br >{{ field.errors}}{% endif %}</td>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="4" class="text-right"><input type="Reset" /> <input type="submit" value="Style Layer" /></td>
    </tr>
</table>
</form>
{% endif %}
	
