{% load humanize %}
{% if first_time_notify %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      File <b>{{ shapefile_set.datafile_label }}</b> loaded! 
           &nbsp; (<b>{{ shapefile_set.number_of_features|intcomma }}</b> geospatial 
          feature{{ shapefile_set.number_of_features|pluralize }})
    </div>
{% endif %}
<table class="table table-bordered">
		<tr>
			<th colspan="2" class="text-center">{{ shapefile_set.datafile_label }}</th>
		</tr>
		{% if shapefile_set.dataset_name %}
		<tr>
			<th>Dataverse -> Dataset</th>
			<td>{% if shapefile_set.dv_name %}{{ shapefile_set.dv_name }} -> {% endif %}{{ shapefile_set.dataset_name}}</td>
		</tr>
		{% endif %}
		{% if shapefile_set.description %}
		<tr>
			<th>Description</th>
			<td>{{ shapefile_set.description }}</td>
		</tr>
		
		{% endif %}
		<tr>
			<th>Shapefile Name</th>
			<td>{{ shapefile_set.get_basename }}  {#(<a href="{% url 'view_try_folium' shapefile_set.md5 %}" target="_blank">folium</a>)#}</td>
		</tr>
		<tr>
			<th>WorldMap Visualizations</th>
			<td>
				
				{% if import_success_object %}
				    {% include "view_02_import_success.html" %}							  
				{% else %}
					<!-- send info to WorldMap API -->
					&nbsp; <a href="{% url 'view_send_shapefile_to_worldmap' shapefile_set.md5 %}" class="btn btn-info btn-xs">Visualize on WorldMap</a><br />
				{% endif %}
				{% if import_fail_list %}
					<!-- show failed attempts -->
					<hr />
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2"><i>Failed attempts to create WorldMap layer
								</i></th>
							</tr>
						{% for fail_info in import_fail_list %}
						<tr>
							<td><a href="{% url 'admin:worldmap_import_worldmapimportattempt_change' fail_info.import_attempt.id %}">(admin)</a>
							    {{ fail_info.msg }}
							    <br />{{ fail_info.orig_response }}</td>
							<td>{{ fail_info.modified }}</td>
						</tr>
						{% endfor %}
					</table>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Dataverse User</th>
			<td>{{ shapefile_set.dv_username }}</td>
		</tr>
		<tr>
			<th># Features</th>
			<td>{{ shapefile_set.number_of_features|intcomma }}</td>
		</tr>
		<tr>
			<th>Files</th>
			<td>	<ul class="list-unstyled">
				{% for file_info in shapefile_set.get_file_info %}
					<li>{{ file_info }}</li>
				{% endfor %}
					</ul>
				</td>
		</tr>
		<tr>
			<th># Fields</th>
			<td>{{ shapefile_set.get_column_count|intcomma }}

				&nbsp; &nbsp;<a data-toggle="collapse" data-target="#column_name_list" id="btn_show_cols">show fields</a>
					<div id="column_name_list" class="collapse panel-body">
						 <table class="table table-bordered table-striped table-condensed">
							{% for fn in shapefile_set.get_column_info %}
								<tr>
									<td>{{ forloop.counter }}</td>
									{% if fn.1 == 'C' %}
										<td>{{ fn.0 }}</td>
										<!-- <td><a href="{#% url 'view_field_stats' shapefile_set.md5 fn.0 forloop.counter0 %#}">{{ fn.0 }} </a></td>	-->											
										<td>Character</td>
									{% else %}{% if fn.1 == 'N' %}
										<!--td><a href="{#% url 'view_field_stats' shapefile_set.md5 fn.0 forloop.counter0 %#}">{{ fn.0 }} </a></td-->
										<td><a href="javascript:alert('add stats');">{{ fn.0 }} </a></td>
										<td>Number</td>
									{% else %}{% if fn.1 == 'L' %}
										<!--td><a href="{#% url 'view_field_stats' shapefile_set.md5 fn.0 forloop.counter0 %#}">{{ fn.0 }} </a></td>-->
										<td><a href="javascript:alert('add stats');">{{ fn.0 }} </a></td>
										<td>Long</td>
									{% else %}{% if fn.1 == 'D' %}
										<td>{{ fn.0 }}</td>
										<td>Date</td>
										
									{% else %}{% if fn.1 == 'M' %}
										<td>{{ fn.0 }}</td>
										<td>Memo</td>
									{% else %}
										<td>{{ fn.0 }}</td>
										<td>{{ fn.1 }}<i>(Not recognized)</i></td>
									{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
								</tr>
							{% empty %}
								<tr><td>Sorry!  There are no column names.</td></tr>
							{% endfor %}
						</table>					     
			    </div>
				</td>
		</tr>
		<!--
		<tr>
			<th>Bounding Box</th>
			<td>{{ shapefile_set.get_bounding_box }}</td>
		</tr>
		-->
	</table>
	<script>
	$('#column_name_list').on('show.bs.collapse', function () {
	  	$('#btn_show_cols').html('hide fields');	
	})
	$('#column_name_list').on('hide.bs.collapse', function () {
	  	$('#btn_show_cols').html('show fields');
	})
	</script>
	