{% extends "shp_base.html" %}

{% block main_container %}
		<div class="pull-left" style="padding:20px;">
			{% if Err_Found %}
			<div class="bg-danger" style="padding:10px;">
				Sorry!
				{% if Err_ShapefileGroup_Not_Found %}
					The file record was not found.
				{% endif %}
				{% if Err_Msg %}
					{{ Err_Msg }}
				{% endif %}
			</div>
			{% endif %}
			
			{% if shp_info_obj %}
				{% if not shp_info_obj.has_shapefile %}
					<p class="bg-danger">Sorry!  The .zip file did not contain any shapefile sets.</p>
				{% else %}
					<p class="bg-info">The .zip file contained the following shapefile set(s):</p>
				{% endif %}
				<ul>
				{% for fn in shp_info_helper.get_shapefile_basenames %}
					<li>{{ fn }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			
			{% if single_shapefile_set %}
				Have set!!  {{ single_shapefile_set }}
			{% endif %}
		</div>
    	<div class="pull-left" style="border:1px solid #006699;width:400px; height:400px; margin:20px;">
			<div id="map-canvas"></div>
		</div>
{% endblock %}