{% if classify_form %}
<!-- start: classify row --><div>


<!-- col 1 -->
<div style="float:left; width:50%;padding:5px 10px;"><h4>Style the Layer</h4>
    
<!-- start form --><form id="frm_classify" class="form-{% if form_inline %}inline{% else %}horizontal{% endif %}" role="form" method="post"><!-- shapefile_info.md5 -->

    
    {% csrf_token %}{% for hidden in classify_form.hidden_fields %}{{ hidden }}{% endfor %}

    {% for field in classify_form.visible_fields %}{% spaceless %}
    <div class="form-group">
        <label for="{{ field.auto_id }}" class="{% if form_inline %}sr-only{% else %}col-sm-3 control-label input-sm{% endif %}">{{ field.label }}</label>
        <div class="col-sm-4">
                {% if field.errors %}{{ field.errors}}{% endif %}
                {{ field }}            
        </div>
     </div>
    {% endspaceless %}{% endfor %}
     <div class="text-center"><a class="btn btn-sm btn-primary" id="id_frm_style_submit">Style Layer</a></div>
</form><!-- end form -->
</div><!-- end: col 1 -->
<!-- col 2 -->
<div style="float:left;width:50%;font-size:90%;padding:20px 10px;" class="text-left">
    <div id="simple_msg_div" style="display:none"></div>
    {% if success_msg %}<div id="id_success_msg" class="alert alert-success">Success!</div>
        <p>{{ success_msg|safe }}</p>
    {% endif %}
    {% comment %}
    {% if error_msg %}<div id="id_alert_msg" class="alert alert-danger">Error!</div>
        <p>{{ error_msg|safe }}</p>
    {% endif %}
    {% endcomment %}
   
</div><!-- end: col 2 -->
<div style="clear:both;"></div>
</div><!-- end: classify row -->
{% endif %}
	
