<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/structure.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--
var map;
function initialize() {
  // Create a simple map.
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 10,
  //  center: {lat: -28, lng: 137.883}
    center: {lat: 42.3267154, lng: -71.1512353}
  });

  // Load a GeoJSON from the same server as our demo.
//  map.data.loadGeoJson('https://storage.googleapis.com/maps-devrel/google.json');
  //map.data.loadGeoJson(australia);//'google_test.json');
 //  map.data.loadGeoJson('{{ STATIC_URL }}google_test.json');//'google_test.json');
  //map.data.loadGeoJson('{{ STATIC_URL }}COLLEGES_PT_P.json');//'google_test.json');
   map.data.loadGeoJson('{{ STATIC_URL }}test_geojson/SubsidizedHousing_vQv-geo.json');//'google_test.json');
   //map.data.loadGeoJson('http://127.0.0.1:8000/static/google_test.json');//'google_test.json');


}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
-->
  </head>
  <body>
	<!-- Navbar Panel -->
    <nav id="navbarFixed" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a href="{% url 'view_examine_dataset' %}"><span class="navbar-brand">GeoConnect</span></a>
                <span class="label label-default beta">pre-pre-alpha</span>
            </div>
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="{% url 'view_examine_dataset' %}">
                            Home
                        </a>
                    </li>
                    <li><a href="{% url 'admin:index' %}">
                            Admin
                        </a>
                    </li>
                   
                </ul>
			</div>
		</div>
	</nav>
    <!-- Header Panel -->
    <div id="dataverseHeader" class="container" style="background:#F5F5F5;">
        <div class="dataverseHeaderBlock">
                <div class="dataverseHeaderCell dataverseHeaderName">	
                    {#<a href="/dataverse.xhtml?id=1" style="font-size: 1.3em; color:inheret;">{{ page_title }}</a>#}
					<span style="font-size: 1.3em; color:inheret;">{{ page_title|safe }}</span>
                </div>
        </div>
    </div>
	<div class="container">
		{% block main_container %}
		hallo
		{% endblock %}
		
	</div>
{#% include "sql_query_debug.html" %#}
  </body>
</html>

