{% extends "shp_base.html" %}

{% block main_container %}
		<div class="pull-left" style="padding:20px;">
			<p>Return to <a href="{% url 'view_examine_dataset' %}">Home</a>
				{% if shapefile_set %}
				&nbsp;|&nbsp; <a href="{% url 'admin:gis_shapefiles_shapefileset_change' shapefile_set.id %}">Edit</a>
				{% endif %}
			</p>
			
			{% if Err_Found %}
			
				{% if Err_ShapefileGroup_Not_Found %}
					<div class="alert-danger alert">Sorry! The file was not found.</div>
				{% endif %}
				{% if Err_No_Shapefiles_Found %}
					<div class="alert-danger alert">Sorry! A shapefile set was not found.</div>
					<div class="alert-info alert">
					<p>For a complete "shapefile", files are needed with the extensions:  
						{% for ext in WORLDMAP_MANDATORY_IMPORT_EXTENSIONS %}{{ ext }}{% if not forloop.last %}, {% endif %}{% endfor %}
					</p>
					{% if not zip_name_list %}
						<p>This was not a valid shapefile.</p>
					{% endif %}
					{% if zip_name_list %}
					<p>The {{ zip_name_list|length }} file name{{ zip_name_list|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}:</p>
					<ol>
						{% for fname in zip_name_list %}
						<li>{{ fname }}</li>
						{% empty %}
							<li>No files in .zip</li>
						{% endfor %}	
					</ol>
					{% endif %}
					</div>
				{% endif %}
				{% if Err_Multiple_Shapefiles_Found %}
					<div class="alert-danger alert">Sorry! Multiple shapefiles were found in the zip archive.
						<p>Please use a .zip file with only one shapefile</p>
					</div>
					<div class="alert-info alert">
						
					<p>The {{ list_of_shapefile_set_names|length }} shapefile name{{ list_of_shapefile_set_names|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}::</p>
						<ol>
							{% for shp_name in list_of_shapefile_set_names %}
							<li>{{ shp_name }}</li>
							{% empty %}
								<li>No names found</li>
							{% endfor %}	
						</ol>
					<p>A full listing of the {{ zip_name_list|length }} file{{ zip_name_list|pluralize }} in the .zip appears below:</p>
					<ol>
						{% for fname in zip_name_list %}
						<li>{{ fname }}</li>
						{% empty %}
							<li>No files in .zip</li>
						{% endfor %}	
					</ol>
					</div>
					
				{% endif %}
			{% endif %}
			<!-- =========================================  -->
				{% if shapefile_set and not Err_Found %}
				
				{% include "view_02_shp_table.html" %}
			
				{% endif %}
		
		</div>
    	
{% endblock %}