{% extends "shp_base.html" %}

{% block extra_js %}
{% if classify_form %}
<style type="text/css">
 ul.errorlist{ list-style-type:none; padding:5px;margin:0; font-size:85%; color:#ff0000;}
 ul.errorlist li {padding:0; margin:0;}
 #id_classify_msg_tbl {width:75%}
 #id_classify_msg_tbl.table th, #id_classify_msg_tbl.table td { 
      border-top: none; 
  }
  div.alert{width:75%;}
</style>
   <script>
   
   function get_alert(alert_type, err_msg){
        return '<div class="alert alert-' + alert_type + ' alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' + err_msg + '</div>';
   }
   
   function submit_classify_form(){
       
        //  $('#id_progress_bar').show();
        //  $('#id_progress_bar_text').html('Styling Map Layer...');               
        //  $('#id_progress_bar_img').removeClass('progress-bar-warning');               
            
            
           var classify_url = "{% url 'view_classify_layer_form' import_success_object.md5 %}";
           var jqxhr = $.post( classify_url, $('#frm_classify').serialize(), function(json_resp) {
               
               console.log(json_resp);
               if ((json_resp.data)&&(json_resp.data.div_content)){
                 $( "#div_classify_form" ).html(json_resp.data.div_content);
                 $( "#id_frm_style_submit" ).on( "click", submit_classify_form );
                 
               }
           })
           .done(function(json_resp) {
               if (json_resp.success){
                   
                 //  $('#id_progress_bar_text').html('Reloading Map...');               
                 //  $('#id_progress_bar_img').addClass('progress-bar-warning');                
                   //alert( "now reload map!" );               
                   $( '#id_iframe_map' ).attr( 'src', function ( i, val ) { return val; });
                   $('#id_progress_bar').hide();    
                   
               }
             })
           .fail(function(json_resp) {
                $('#simple_msg_div').show();
                $('#simple_msg_div').empty().append(get_alert('danger', 'The classification failed.  Please try again.'));

           })
           .always(function() {
             //  alert( "finished" );
               $('#id_progress_bar_img').removeClass('progress-bar-warning');               
               $('#id_progress_bar').hide();    
               //bind_form_submit_button();           
           });
   }
   
   $(document).ready(function() {
        $( "#id_frm_style_submit" ).on( "click", submit_classify_form );
        //bind_form_submit_button();
     });
 </script>
{% endif %}
{% endblock %}
{% block main_container %}
		<div class="pull-left" style="padding:20px;">
			<p>Return to <a href="{% url 'view_examine_dataset' %}">Home</a>
				{% if shapefile_set %}
				&nbsp;|&nbsp; <a href="{% url 'admin:gis_shapefiles_shapefileset_change' shapefile_set.id %}">Edit</a>
				{% endif %}
			</p>
			
			{% if Err_Found %}
			
				{% if Err_ShapefileGroup_Not_Found %}
					<div class="alert-danger alert">Sorry! The file was not found.</div>
				{% endif %}
				{% if Err_No_Shapefiles_Found %}
					<div class="alert-danger alert">Sorry! A shapefile set was not found.</div>
					<div class="alert-info alert">
					<p>For a complete "shapefile", files are needed with the extensions:  
						{% for ext in WORLDMAP_MANDATORY_IMPORT_EXTENSIONS %}{{ ext }}{% if not forloop.last %}, {% endif %}{% endfor %}
					</p>
					{% if not zip_name_list %}
						<p>This was not a valid shapefile.</p>
					{% endif %}
					{% if zip_name_list %}
					<p>The {{ zip_name_list|length }} file name{{ zip_name_list|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}:</p>
					<ol>
						{% for fname in zip_name_list %}
						<li>{{ fname }}</li>
						{% empty %}
							<li>No files in .zip</li>
						{% endfor %}	
					</ol>
					{% endif %}
					</div>
				{% endif %}
				{% if Err_Multiple_Shapefiles_Found %}
					<div class="alert-danger alert">Sorry! Multiple shapefiles were found in the zip archive.
						<p>Please use a .zip file with only one shapefile</p>
					</div>
					<div class="alert-info alert">
						
					<p>The {{ list_of_shapefile_set_names|length }} shapefile name{{ list_of_shapefile_set_names|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}::</p>
						<ol>
							{% for shp_name in list_of_shapefile_set_names %}
							<li>{{ shp_name }}</li>
							{% empty %}
								<li>No names found</li>
							{% endfor %}	
						</ol>
					<p>A full listing of the {{ zip_name_list|length }} file{{ zip_name_list|pluralize }} in the .zip appears below:</p>
					<ol>
						{% for fname in zip_name_list %}
						<li>{{ fname }}</li>
						{% empty %}
							<li>No files in .zip</li>
						{% endfor %}	
					</ol>
					</div>
					
				{% endif %}
			{% endif %}
			<!-- =========================================  -->
				{% if shapefile_set and not Err_Found %}
				
				{% include "view_02_shp_table.html" %}
			
				{% endif %}
		
		</div>
    	
{% endblock %}