{% extends "shp_base.html" %}

{% block main_container %}
		<div class="pull-left" style="padding:20px;">
			{% if Form_Err_Found %}
			<div class="bg-danger" style="padding:10px;">
				Sorry!  Errors were found
				{{ shp_form.errors }}
			</div>
			<br />
			{% endif %}
			{% if existing_shp_groups %}
			<p>Choose an existing shapefile group:</p>
				<ol>
				{% for grp in existing_shp_groups %}
						<li><a href="{% url 'view_choose_shapefile' grp.md5 %}">{{ grp.name }}</a></li>
			
				{% endfor %}
				</ol>
			{% endif %}
			<hr />
			<p>Upload new shapefile:</p>
			
			<form enctype="multipart/form-data" method="post" action="{% url 'view_examine_dataset' %}">
				{% csrf_token %}
				<table class="table table-bordered">
				{{ shp_form }}
				<tr>
				
					<td colspan="2" class="text-right"><input type="reset" value="reset" />
						&nbsp;
						<input type="submit" value="upload" />
						</td>

				</tr>
				</table>
			</form>
			
			
		</div>
    	<div class="pull-left" style="border:1px solid #006699;width:400px; height:400px; margin:20px 20px 20px 40px;">
			<div id="map-canvas"></div>
		</div>
{% endblock %}