{% extends "base.html" %}


{% block main_container %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default xs">
          <div class="panel-heading">Geoconnect</div>
          <div class="panel-body">
            {% if not ftype_setting.active %}
                {% if ftype_setting.inactive_display_note %}
                    {{ ftype_setting.inactive_display_note|linebreaks|safe }}
                {% else %}
                    <p>Sorry! Mapping is currently not available for:</p>
                    <ul>
                        <li><b>File type</b>: {{ ftype_setting.name }}</li>
                    </ul>
                {% endif %}
            {% else %}
                <p>Mapping is currently available for:</p>
                <ul>
                    <li><b>File type</b>: {{ ftype_setting.name }}</li>
                </ul>
            {% endif %}

                <p><br />Please <a href="javascript:history.back()">return to the Dataverse</a>.</p>
          </div>
        </div>
    </div>
</div>

{% endblock %}
