{% if core_data %}

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a class="collapsed small" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Core Data
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <p class="text-right">
      {% if worldmap_layerinfo.is_lat_lng_layer %}
          <a class="btn btn-sm btn-default" href="{% url 'ajax_dv_notify_latlng_map' worldmap_layerinfo.md5  %}" target="_blank">Send Info to Dataverse</a>
      {% elif worldmap_layerinfo.is_join_layer %}
          <a class="btn btn-sm btn-default" href="{% url 'ajax_dv_notify_tabular_join_map' worldmap_layerinfo.md5  %}" target="_blank">Send Info to Dataverse</a>
      {% endif %}
      </p>
      <table id="id-tbl-coredata" class="table table-bordered table-condensed table-striped small">
          <tr>
              <th>&nbsp;</th>
              <th>Name</th>
              <th>Value</th>
          </tr>
          {% for ckey, cval in core_data.items %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ ckey }}</td>
              <td>
                  {% if ckey == "download_links" %}
                      (skipping..)
                  {% else %}{% if ckey == "attribute_info" %}
                      (skipping..)
                  {% else %}
                      {{ cval }}
                  {% endif %}{% endif %}
              </td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    // show/hide attributes
    $("#btn-show-coredata").click(function() {
      $("#id-tbl-coredata").toggle( "fast", function() {
         if ($("#btn-show-coredata").is(":visible")){
             $("#btn-show-coredata").html('Hide');
         }else{
             $("#btn-show-coredata").html('Show');
         }
      });
    });
});
</script>
{% endif %}
