<!-- Modal View -->
<!-- Start: Modal Metadata -->
<div class="modal fade" id="view_map_metadata" tabindex="-1" role="dialog" aria-labelledby="modalMetadataLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content  text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalMetadataLabel">Map Metadata</h4>
      </div>
      <!-- add: modal content -->
      <div class="modal-body pagination-centered">
            {% if core_data.matched_record_count %}<!-- tabular -->
                <p class="help-block">A map was created by joining your data to an existing WorldMap layer.</p>
            {% elif core_data.mapped_record_count %}<!-- lat/lng -->
                <p class="help-block">A map was created using the latitude and longitude columns in your data file.</p>
            {% endif %}

            <table class="table table-bordered">
                <!-- Matched counts -->
                {% if core_data.matched_record_count or core_data.mapped_record_count %}
                <tr>
                    <th>Mapped Records</th>
                    <td>{{ worldmap_layerinfo.get_mapped_record_count }}</td>
                </tr>
                {% endif %}
                <!-- Unmatched counts -->
                {% if worldmap_layerinfo.get_unmapped_record_count > 0 %}
                <tr>
                    <th>Unmapped Records</th>
                    <td>{{ worldmap_layerinfo.get_unmapped_record_count }}</td>
                </tr>
                {% endif %}
                <tr>
                  <th>Data File Columns</th>
                  <td>
                    {% if core_data.lat_attribute or lng_attribute%}
                    <!-- lat/lng column -->
                            <table>
                                {% if core_data.lat_attribute %}
                                <tr>
                                    <th>Latitude: </th>
                                    <td>&nbsp;  {{ core_data.lat_attribute.attribute }} (type: {{ core_data.lat_attribute.type }})</td>
                                </tr>
                                {% endif %}
                                {% if core_data.lng_attribute %}
                                <tr>
                                    <th>Longitude: </th>
                                    <td>&nbsp; {{ core_data.lng_attribute.attribute }} (type: {{ core_data.lng_attribute.type }})</td>
                                </tr>
                                {% endif %}
                            </table>
                    {% endif %}
                    {% if core_data.layer_join_attribute %}
                    <!-- join column -->
                        {{ core_data.layer_join_attribute }}
                    {% endif %}
                  </td>
                </tr>
                <!-- join column -->
                {% if core_data.join_layer_id %}
                <tr>
                    <th>WorldMap Join Layer ID</th>
                    <td>{{ core_data.join_layer_id }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Bounding Box</th>
                    <td>{{ core_data.llbbox }}</td>
                </tr>
                <!-- attribute information -->
                {% comment %}
                <tr>
                    <th>Column Attributes</th>
                    <td>{% include "metadata/map_attributes_list_sm.html" %}</td>
                </tr>
                {% endcomment %}
            </table>

            <!-- show failed rows -->
            {% if failed_records_list %}
                {% include "metadata/unmatched_lat_lng_rows.html" %}
            {% endif %}

      </div><!-- end: modal content -->

      <div class="modal-footer text-left">
            <a class="btn btn-default" href="{{ core_data.layer_link }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span> View on WorldMap</a>
        {% if failed_records_list %}
            {% if worldmap_layerinfo.is_lat_lng_layer %}
                <a href="{% url 'download_unmatched_lat_lng_rows' worldmap_layerinfo.md5 %}" class="btn btn-default">Download Unmapped Records (.csv)</a>
            {% elif worldmap_layerinfo.is_join_layer %}
                <a href="{% url 'download_unmatched_join_rows' worldmap_layerinfo.md5 %}" class="btn btn-default">Download Unmapped Records (.csv)</a>
            {% endif %}
        {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
<!-- End: Modal Metadata -->
