<!-- Modal View -->
<!-- Start: Modal Metadata -->
<div class="modal fade" id="view_map_metadata" tabindex="-1" role="dialog" aria-labelledby="modalMetadataLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content  text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalMetadataLabel">View Map Metadata</h4>
      </div>
      <!-- add: modal content -->
      <div class="modal-body pagination-centered">
            {% if core_data.matched_record_count %}<!-- tabular -->
                <p>A map was created by joining your data to an existing WorldMap layer.</p>
            {% elif core_data.mapped_record_count %}<!-- lat/lng -->
                <p>A map was created using the latitude and longitude columns in your data file.</p>
            {% endif %}


            <table class="table table-bordered">
                <tr>
                    <th>Worldmap link</th>
                    <td><a href="{{ core_data.layer_link }}" target="_blank">View in WorldMap</a></td>
                </tr>

                <!-- Matched counts -->
                {% if core_data.matched_record_count or core_data.mapped_record_count %}
                <tr>
                    <th>Mapped record count</th>
                    <td>{{ core_data.matched_record_count }} {{ core_data.mapped_record_count }}</td>
                </tr>
                {% endif %}
                <!-- Unmatched counts -->
                {% if core_data.unmatched_record_count > 0 or core_data.unmapped_record_count > 0 %}
                <tr>
                    <th>Unmapped record count</th>
                    <td>{{ core_data.unmatched_record_count }} {{ core_data.unmapped_record_count }}

                        {% if core_data.unmapped_records_list %}
                            <!-- latitude/longitude - records that didn't map -->
                            <br /><a href="{% url 'view_unmatched_lat_lng_rows' worldmap_layerinfo.md5 %}" target="_blank">See unmapped records</a>
                        {% endif %}

                    </td>
                </tr>
                {% endif %}

                <!-- lat/lng column -->
                {% if core_data.lat_attribute or lng_attribute%}
                <tr>
                    <th>Columns used for Mapping</th>
                    <td>
                        <table>
                            {% if core_data.lat_attribute %}
                            <tr>
                                <th>Latitude: </th>
                                <td>&nbsp;  {{ core_data.lat_attribute.attribute }} (type: {{ core_data.lat_attribute.type }})</td>
                            </tr>
                            {% endif %}
                            {% if core_data.lng_attribute %}
                            <tr>
                                <th>Longitude: </th>
                                <td>&nbsp; {{ core_data.lng_attribute.attribute }} (type: {{ core_data.lng_attribute.type }})</td>
                            </tr>
                            {% endif %}
                        </table>

                    </td>
                </tr>
                {% endif %}

                <!-- join column -->
                {% if core_data.layer_join_attribute %}
                <tr>
                    <th>Column used for Mapping</th>
                    <td>{{ core_data.layer_join_attribute }}</td>
                </tr>
                {% endif %}

                <!-- join column -->
                {% if core_data.join_layer_id %}
                <tr>
                    <th>WorldMap Join Layer Id</th>
                    <td>{{ core_data.join_layer_id }}</td>
                </tr>
                {% endif %}

                <tr>
                    <th>Bounding box</th>
                    <td>{{ core_data.llbbox }}</td>
                </tr>

                <!-- attribute information -->
                {% comment %}
                <tr>
                    <th>Column Attributes</th>
                    <td>{% include "metadata/map_attributes_list_sm.html" %}</td>
                </tr>
                {% endcomment %}
            </table>

            <!-- show failed rows -->
            {% include "metadata/unmatched_lat_lng_rows.html" %}
      </div><!-- end: modal content -->

      <div class="modal-footer text-left">
        {% if core_data.unmatched_record_count > 0 %}
        <button type="button" class="btn btn-default">Download Unmatched Records (.csv)</button>
        {% endif %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
<!-- End: Modal Metadata -->
