{% extends "base_popup.html" %}
{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
{% endblock %}

{% block main_container %}

<!-- START: Unmatched rows -->
<p>The tabular data below was <b>NOT</b> mapped.</p>
    <br />Count: <b>{{ core_data.unmapped_records_list|length }} row{{ core_data.unmapped_records_list|pluralize }}</b>
</p>

<table id="preview-tbl" class="table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>Row #</th>
            {% for col in attribute_data %}
            <th>{{ col.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for single_row in core_data.unmapped_records_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
            {% for tbl_val in single_row %}
                <td>{{ tbl_val }}</td>
            {% endfor %}
            </tr>
        {% empty %}
            <tr><td colspan="{{ core_data.unmapped_records_list|length }}">(No rows to display)</td></tr>
        {% endfor %}
    </tbody>
</table>
<!-- END: Unmatched rows -->

<script>
$( document ).ready(function() {
    if ($("#unmatched-tbl").length>0){

        $('#unmatched-tbl').DataTable( {
            "info":false, // remove 'Showing 1 to n of n entries'
            "scrollX": true,    //  "scrollY": 200,
            "paging" : false,
            "searching" : false
        } );
    }
    //$('#preview-tbl').DataTable();
});
</script>
{% endblock %}
