<!-- START: Unmatched rows -->
<p>The tabular data below was <b>NOT</b> mapped.</p>
    <br />Count: <b>{{ failed_records_list|length }} row{{ failed_records_list|pluralize }}</b>
</p>
<div class="row">
    <div class="col-sm-12">
        <table id="unmatched-tbl" class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Row #</th>
                    {% for col in attribute_data %}
                    <th>{{ col.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for single_row in failed_records_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                    {% for tbl_val in single_row %}
                        <td>{{ tbl_val }}</td>
                    {% endfor %}
                    </tr>
                {% empty %}
                    <tr><td colspan="2">(No rows to display)</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- END: Unmatched rows -->

<script>
$( document ).ready(function() {
    if ($("#unmatched-tbl").length>0){

        $('#unmatched-tbl').DataTable( {
            "info":false, // remove 'Showing 1 to n of n entries'
            "scrollX": true,    //  "scrollY": 200,
            "paging" : false,
            "searching" : false
        } );
    }
});
</script>
