{% if attribute_data %}

<a id="btn-show-attributes-sm" class="btn btn-default btn-xs">Hide</a><br />
  <table id="id-tbl-attributes-sm" class="table table-bordered table-condensed table-striped small">
      <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          {#<th>Display Name</th>#}
          <th>Type</th>
      </tr>
      {% for col_info in attribute_data %}
      <tr{% if col_info.name == core_data.table_join_attribute %} class="info"{% endif %}>
          <td>{{ forloop.counter }}</td>
          <td>{{ col_info.name }}{% if col_info.name == core_data.table_join_attribute %}<br />* join column{% endif %}</td>
          {#<td>{{ col_info.display_name }}</td>#}
          <td>{{ col_info.type }}</td>
      </tr>
      {% endfor %}
  </table>

<script>
$( document ).ready(function() {
    // show/hide attributes
    $("#btn-show-attributes-sm").click(function() {
         if ($("#id-tbl-attributes-sm").is(":visible")){
             $("#id-tbl-attributes-sm").hide('fade fast');
             $("#btn-show-attributes-sm").html('Show');
         }else{
             $("#id-tbl-attributes-sm").show('fade fast');
             $("#btn-show-attributes-sm").html('Hide');
         }
    });
});
</script>
{% endif %}
