 <hr />
    <p class="text-muted"><small>
    (utils)
    dv test: <a href="{% url 'send_metadata_to_dataverse' worldmap_layerinfo.id %}">resend metadata</a>
        &nbsp; | &nbsp; <a href="{% url 'view_ajax_notify_dv_of_map' worldmap_layerinfo.md5 %}">resend metadata2</a>
    <br />edit object:  <a href="{% url 'admin:worldmap_connect_worldmapimportattempt_change' worldmap_layerinfo.import_attempt.id %}">WorldMap API result</a> 	
    <br />layer name: <a href="{{ worldmap_layerinfo.layer_link }}">{{ worldmap_layerinfo.layer_name }}</a>
    </small></p>
    <div style="width:600px;">&nbsp;</div>