<!-- start: back to dataverse button -->

{% comment %}
<a href="javascript:window.close();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> Return to the Dataverse</a>
{% endcomment %}

{% if shapefile_info and shapefile_info.return_to_dataverse_url %}
    <a href="{{ shapefile_info.return_to_dataverse_url }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> Return to the Dataverse</a>
{% else %}
    <a href="{{ DATAVERSE_SERVER_URL }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> Return to the Dataverse</a>
{% endif %}<br />&nbsp;
<!-- end: back to the dataverse button -->