{% if import_fail_list %}
	<!-- show failed attempts -->
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="2"><i>Failed attempts to create WorldMap layer
				</i></th>
			</tr>
		{% for fail_info in import_fail_list %}
		<tr>
			<td><a href="{% url 'admin:worldmap_import_worldmapimportattempt_change' fail_info.import_attempt.id %}">(admin)</a>
			    {{ fail_info.msg }}
			    <br />{{ fail_info.orig_response }}</td>
			<td>{{ fail_info.modified }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}