
<!-- content for id_main_panel_content -->
      {% if worldmap_layerinfo %}

        {% if classify_form %}
            {% if delete_form %}
                {% include "gis_shapefiles/modal_delete_confirm.html" %}
            {% endif %}
            {% if worldmap_layerinfo %}
                {% include "gis_shapefiles/modal_save_confirm.html" %}
            {% endif %}
            {% include "classification/classify_form_dynamic_js.html" %}
        {% endif %}

        {% if show_visualize_success_msg %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          Map successfully created!
        </div>
        {% endif %}

        Use the form below the map to style it.
        &nbsp; <small><a href="{{ core_data.layer_link }}" target="_blank">(View on WorldMap)</a></small>

            <!-- WorldMap Layer in iframe -->
            <div>

                <div style="width:70%;float:left;">
                        <iframe id="id_iframe_map" height="275" width="100%" src="{{ core_data.embed_map_link }}"></iframe>
                </div>

                <div style="width:30%;float:left;text-align:center;">
                    <h4>Legend</h4>
                    <img src="{{ worldmap_layerinfo.get_legend_img_url }}" id="legend_img" alt="(legend not available)" style="border:1px solid #ccc; padding:7px;" />

                   {# <img src="http://107.22.231.227/geoserver/wms?request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=geonode:income_in_boston_gui_1_zip_z2m&format=image%2Fpng&legend_options=fontAntiAliasing%3Atrue%3BfontSize%3A12%3B">#}
                </div>
            </div>


		    <!-- start:  Classify form -->
            <div id="div_classify_form">{% include "classification/view_classify_form.html" %}</div>
		    <!-- end:  Classify form -->

            {% include "worldmap_layers/delete_and_back_to_dv_links.html" %}

            {% include "gis_shapefiles/import_debug_links.html" %}

      {% else %}
        <div class="alert alert-warning">Sorry!  An Error occurred! The Map Layer is not available</div>
      {% endif %}
