
<!-- content for id_main_panel_content -->
      {% if import_success_object %}
        Use the form below the map to style the layer. 
        &nbsp; <small><a href="{{ import_success_object.layer_link }}" target="_blank">(View on WorldMap)</a></small>	
        
            <!-- WorldMap Layer in iframe -->
            <div>
                <div style="width:70%;float:left;">
                <iframe id="id_iframe_map" height="275" width="100%" src="{{ import_success_object.embed_map_link }}"></iframe>
                </div>
                <div style="width:30%;float:left;text-align:center;">
                    <h4>Legend</h4>
                    <img src="{{ import_success_object.get_legend_img_url }}" id="legend_img" alt="(legend not available)" />

                   {# <img src="http://107.22.231.227/geoserver/wms?request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=geonode:income_in_boston_gui_1_zip_z2m&format=image%2Fpng&legend_options=fontAntiAliasing%3Atrue%3BfontSize%3A12%3B">#}
                    {# http://107.22.231.227/geoserver/wms?request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=geonode:social_disorder_in_boston_yqh_zip_ctv&format=image%2Fpng&legend_options=fontAntiAliasing%3Atrue%3BfontSize%3A12%3B #}
                </div>
            </div>

            <div id="div_classify_form">{% include "classification/view_classify_form.html" %}</div>
		    
		    {% include "gis_shapefiles/import_debug_links.html" %}
           
      {% else %}
        <div class="alert alert-warning">Sorry!  An Error occurred! The Map Layer is not available</div>
      {% endif %}
