
<!-- content for id_main_panel_content -->
      {% if import_success_object %}
        Use the form below the map to style the layer. 
        &nbsp; <small><a href="{{ import_success_object.layer_link }}" target="_blank">(View on WorldMap)</a></small>	
        
            <!-- WorldMap Layer in iframe -->
            <iframe id="id_iframe_map" height="275" width="100%" src="{{ import_success_object.embed_map_link }}"></iframe>

            <div id="div_classify_form">{% include "classification/view_classify_form.html" %}</div>
		    
		    {% include "gis_shapefiles/import_debug_links.html" %}
           
      {% else %}
        <div class="alert alert-warning">Sorry!  An Error occurred! The Map Layer is not available</div>
      {% endif %}
