{% extends "base.html" %}

{% block main_container %}
<div class="pull-left" style="padding:20px;">
	{% if ERROR_FOUND %}
    	<div class="alert alert-danger" style="padding:10px;">
            Sorry!  Delete failed.
        </div>
    
        <!-- start: panel -->
        <div class="panel panel-default">
          <div class="panel-heading">Delete Error</div>
          <div class="panel-body">
            {% if FAILED_TO_VALIDATE %}
    		    <p>Please use your browser's <a href="javascript:history.go(-1)">back button</a>
    		       and try again.</p>
    		       
    		    <p>Or <a href="{{ DATAVERSE_SERVER_URL }}">Return to the Dataverse</a></p>
    	    {% endif %}    		 
	    
	        {% if WORLDMAP_DATA_DELETE_FAILURE %}
	            <p><span class="label label-danger">No</span> Failed to delete map metadata from Dataverse.</p>
                <p>Message: {{ ERR_MSG }}</p>
                <hr />
                <p>Please use your browser's <a href="javascript:history.go(-1)">back button</a>
    		       and try again.</p>
    		       
    		    <p><br />Or <a href="{{ DATAVERSE_SERVER_URL }}">Return to the Dataverse</a></p>
    	    {% endif %}    	            
    	    
    	    {% if DATAVERSE_DATA_DELETE_FAILURE %}
    	        <p><span class="label label-success">Yes</span> Map is deleted from WorldMap</p>
    	        <p><span class="label label-danger">No</span> Failed to delete map metadata from Dataverse.</p>

                <p>Message: {{ ERR_MSG }}</p>
                <hr />
                <p>Please <a href="{{ DATAVERSE_SERVER_URL }}">Return to the Dataverse</a>
                  <br /><br />or  <a href="{% url 'view_shapefile' gis_data_file.md5 %}">Re-Map File: <b>{{ gis_data_file.datafile_label }}</b></a>
                </p>
    	    {% endif %}    	
    	    </div>           
    	</div><!-- end: panel -->	
	{% endif %}
	
	{% if DELETE_SUCCESS %}
	<div class="alert alert-success" style="padding:10px;">
        Success!  The Map has been deleted for file <b>{{ gis_data_file.datafile_label }}</b>.
    </div>

    {% if gis_data_file %}
    <div class="panel panel-default">
        <div class="panel-heading">Would you like to Re-Map this file?</div>
        <div class="panel-body">
            <p><a href="{% url 'view_shapefile' gis_data_file.md5 %}">Re-Map File: <b>{{ gis_data_file.datafile_label }}</b></a>

            or {% include "gis_shapefiles/link-back-to-dataverse.html" %}</p>
            
            <p><br /><a href="{{ WORLDMAP_SERVER_URL }}" target="_blank"><img src="{{ STATIC_URL }}images/WorldMap-Logo_26px.png" alt="WorldMap logo" /></a></p>
            
        </div>
    </div>
    {% endif %}


	{% endif %}
	
</div><!-- end: main_container -->	
{% endblock %}