<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">3. {{ GEOCONNECT_STEP_KEY }} the Map Layer</h3>
  </div>
  <div class="panel-body">
      {% if import_success_object %}
        Use the form below the map to style the layer. 
        &nbsp; <small><a href="{{ import_success_object.layer_link }}" target="_blank">(View on WorldMap)</a></small>	
        
            <!-- WorldMap Layer in iframe -->
            <iframe id="id_iframe_map" height="275" width="100%" src="{{ import_success_object.embed_map_link }}"></iframe>

            <div id="div_classify_form">{% include "classification/view_classify_form.html" %}</div>
		    
		    {% include "gis_shapefiles/import_debug_links.html" %}
           
      {% else %}
        <div class="alert alert-warning">Sorry!  An Error occurred! The Map Layer is not available</div>
      {% endif %}
  </div><!-- end: panel body -->
</div><!-- end: panel -->
{% include "gis_shapefiles/shapefile_info_panel.html" %}
