{% extends "base.html" %}
{% load humanize %}

{% block extra_js %}
    {{ block.super }}
   {% if  GEOCONNECT_STEP_KEY == STEP1_EXAMINE and not Dataverse_Connect_Err_Msg %}
        <script>
          {% include "gis_shapefiles/ajax_attempt_visualization.js" %}
        </script>
   {% endif %}
 {% comment %}
    {% if GEOCONNECT_STEP_KEY == STEP3_STYLE %}
        {% if classify_form %}
            {% include "classification/classify_form_dynamic_js.html" %}
        {% endif %}
    {% endif %}
  {% endcomment %}

{% endblock %}

{% block main_container %}
<div class="pull-left" style="padding:0 0px 0 20px;width:100%; xborder:1px solid #ff0000;">

	{% if Err_Found or Dataverse_Connect_Err_Msg %}
	    <!-- The shapefile didn't open at all, 
	    failed when ingested by a shapefile reader (e.g. bad zip/bad file), 
	    or contained multiple shapefiles -->
		{% include "gis_shapefiles/view_02a_err_examine.html" %}
	{% endif %}

    {% if not Err_Found %}
        {% if first_time_notify  and GEOCONNECT_STEP_KEY == STEP1_EXAMINE %}
    <!-- First time file is loaded, show a notification -->
    <div id="id-first-time-alert" class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      File <b>{{ shapefile_info.datafile_label }}</b> verified!
           &nbsp; (<b>{{ shapefile_info.number_of_features|intcomma }}</b> geospatial
          feature{{ shapefile_info.number_of_features|pluralize }})
    </div>
        {% endif %}
    {% endif %}

   <!-- start panel --><div class="panel panel-default">
    <div class="panel-heading">
      {% include "gis_shapefiles/view_02_main_panel_title.html" %}
    </div>
    <div class="panel-body" id="id_main_panel_content">
       	{% if not shapefile_info %}
            Please return to the dataverse.
            {% include "gis_shapefiles/link-back-to-dataverse.html" %}
	    {% endif %}
		{% if shapefile_info and not Err_Found %}
            <!-- We have a shapefile here -->
            {% if GEOCONNECT_STEP_KEY == STEP2_VISUALIZE %}

                {#% include "gis_shapefiles/view_03_visualize_layer.html" %#}

            {% else %}{% if GEOCONNECT_STEP_KEY == STEP3_STYLE %}
		    
		        {% include "gis_shapefiles/view_04_ajax_style_layer.html" %}	
		        
            {% else %}
			
			    {% include "gis_shapefiles/view_02a_shp_table.html" %}	
            
            {% endif %}{% endif %}

		{% endif %}
		
	    {% if is_logged_in and is_staff %}
    		<p>Return to <a href="{% url 'view_examine_dataset' %}">Home</a>
				{% if shapefile_info %}
				&nbsp;|&nbsp; <a href="{% url 'admin:gis_shapefiles_shapefileinfo_change' shapefile_info.id %}">Edit</a>
				{% endif %}
			</p>
        {% endif %}
    </div><!-- end main panel content -->
    </div><!-- end: panel -->
    
    {% if shapefile_info %}
        {#% include "gis_shapefiles/shapefile_info_panel.html" %#}
    {% endif %}
    {#% include "gis_shapefiles/link-back-to-dataverse.html" %#}

</div>
{% endblock %}