{% load humanize %}


<!-- send info to WorldMap API -->
<a class="btn btn-info btn-xs" id="id_link_visualize_worldmap">Visualize on WorldMap</a>
<small>(may take several seconds)</small><br />

<!-- content for id_main_panel_content -->
<p>Please note:</p> 
 
<p>In order to map your data file, a copy will be sent to Harvard's WorldMap platform (<a href="{{ WORLDMAP_SEVER_URL }}" target="_blank">worldmap.harvard.edu</a>).</p> 
 
<p>You have the ability to delete any maps, and associated data, from the Harvard WorldMap platform, at any time.</p>

<p><a href="{{ WORLDMAP_SEVER_URL }}" target="_blank"><img src="{{ STATIC_URL }}images/WorldMap-Logo_26px.png" alt="WorldMap logo" /></a></p>
    
    {% comment %}
        The shapefile was successfully examined!
    {% endcomment %}
        <p>Press the button below to create a Map Layer:</p>
        

    
	<script>
	$('#column_name_list').on('show.bs.collapse', function () {
	  	$('#btn_show_cols').html('hide fields');	
	})
	$('#column_name_list').on('hide.bs.collapse', function () {
	  	$('#btn_show_cols').html('show fields');
	})
	</script>
	<div style="display:none;" id="id_div_attempt_visualization_msg">
            Attempting map visualization, this may take several seconds.
        <br />
                <img src="{{ STATIC_URL }}images/spinner.gif" alt="spinner" />
        <br />
                <a href="{{ WORLDMAP_SEVER_URL }}" target="_blank"><img src="{{ STATIC_URL }}images/WorldMap-Logo_26px.png" alt="WorldMap logo" /></a>


	</div>