<!-- start: back to dataverse button -->
{% if GEOCONNECT_STEP_KEY == STEP1_EXAMINE %}<!-- no map yet, link directly back -->
    {% include "gis_tabular/return_to_dataverse.html" %}
{% else %}{% if worldmap_layerinfo or tabular_info or shapefile_info or gis_data_file %}
    <form id="frm_update_dv">{% csrf_token %}</form>
    <a data-toggle="modal" data-target="#save_map_confirm" id="id_btn_return_to_dv" class="btn btn-xs btn-success">Return to the Dataverse</a>
{% else %}
    {% include "gis_tabular/return_to_dataverse.html" %}
{% endif %}{% endif %}
<!-- end: back to dataverse button -->
