<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      body .modal-dialog {
          /* new custom width */
          width: 45%;
          /* must be half of the width, minus scrollbar on the left (30px) */
          margin-left:auto;
           margin-right:auto;
        }
    </style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/structure.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block extra_js %}
    {% endblock %}

  </head>
  <body>
	<div class="container">
	    {#<a href="{% url 'view_png_test' %}">png test</a>#}
	{% block main_container %}
		hallo
	{% endblock %}
	</div>

  </body>
</html>
