{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% if page_title %}{{ page_title }}{% else %}Geoconnect: Map Data{% endif %}</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
  body .modal-dialog:not(.modal-lg) {
    /* new custom width */
    width: 45%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left:auto;
    margin-right:auto;
  }
  </style>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"><!-- 3.1.1 -->
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
  <link rel="stylesheet" href="{% static "css/structure.css" %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static "js/jquery-1.10.1.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
  {% block extra_js %}
  {% endblock %}
</head>
<body>
  <!-- Navbar Panel -->
  <nav id="navbarFixed" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if shapefile_info and shapefile_info.return_to_dataverse_url %}
        <a href="{{ shapefile_info.return_to_dataverse_url }}">
          {% elif tabular_info and tabular_info.return_to_dataverse_url %}
          <a href="{{ tabular_info.return_to_dataverse_url }}">
            {% else %}
            <a href="{{ DATAVERSE_SERVER_URL }}">
              {% endif %}
              <span class="navbar-brand">Geoconnect: Map Data Set Up</span></a>
              <!--a href="{% if tabular_info and tabular_info.return_to_dataverse_url %}{{ tabular_info.return_to_dataverse_url }}{% else %}{{ DATAVERSE_SERVER_URL }}{% endif %}"><span class="navbar-brand">Geoconnect: Map Data Set Up</span></a-->
              <!--a href="{#% url 'view_examine_dataset' %#}"><span class="navbar-brand">GeoConnect: Map Data</span></a-->
              <span class="label label-default beta">beta</span>
            </div>
            {% if is_logged_in and is_staff %}
            <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="{% url 'view_examine_dataset' %}">
                  Home
                </a>
              </li>
              <li><a href="{% url 'admin:index' %}">
                Admin
              </a>
            </li>

          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    <!-- Header Panel -->
    {% comment %}
    <div id="dataverseHeader" class="container" style="background:#F5F5F5;">
      <div class="dataverseHeaderBlock">
        <div class="dataverseHeaderCell dataverseHeaderName" style="padding-bottom:0;">
          {% block breadcrumb %}
          {% include "breadcrumb.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="container">
      {% block main_container %}
      base.html: block main_container
      {% endblock %}
    </div>
  </body>
  </html>
