<!-- File Name + Citation -->
<div id="id_file_name_citation" class="row">
  <div class="col-xs-12">
{% if gis_data_info %}
    <h4 style="font-weight:bold;font-size:1.5em;margin-bottom:4px;">{{ gis_data_info.datafile_label }}</h4>
    <p class="small alert alert-info" style="background:#ecf6fb;border-radius:0;color:#333;padding:4px;">{{ gis_data_info.dataset_citation|safe }}</p>
{% else %}
    <div class="alert alert-danger" role="alert">error "gis_data_info" not available</div>
{% endif %}
  </div>
</div>
