<div style="padding:5px 10px;"><h4>Style the Layer</h4>


<div class="alert alert-danger alert-dismissible" style="margin-left:auto;margin-right:auto;" role="alert">
    <!-- button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button-->
    {{ error_message|linebreaks }}

    {% if import_success_md5 %}
    <p>Please <a href="javascript:location.reload();">try again.</p>
    {% endif %}
</div>
<div style="clear:both;"></div>
</div>
