{% if core_data %}
<div class="row">
    <div class="col-md-10">
        <h5>Core Data</h5>
        <p><a id="btn-show-coredata" class="btn btn-info btn-xs">show</a></p>
        <table id="id-tbl-coredata" style="display:none;" class="table table-bordered table-condensed table-striped">
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Value</th>
            </tr>
        {% for ckey, cval in core_data.items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ckey }}</td>
                <td>
                    {% if ckey == "download_links" %}
                        (skipping..)
                    {% else %}{% if ckey == "attribute_info" %}
                        (skipping..)
                    {% else %}
                        {{ cval }}
                    {% endif %}{% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% if is_staff %}
    <p>Staff debug:core
        {% if worldmap_layerinfo.is_lat_lng_layer %}
            <a href="{% url 'ajax_dv_notify_latlng_map' worldmap_layerinfo.md5  %}" target="_blank">Send Info to Dataverse</a>
        {% elif worldmap_layerinfo.is_join_layer %}
            <a href="{% url 'ajax_dv_notify_tabular_join_map' worldmap_layerinfo.md5  %}" target="_blank">Send Info to Dataverse</a>
        {% endif %}
    </p>
{% endif %}
<script>
$( document ).ready(function() {
    // show/hide attributes
    $("#btn-show-coredata").click(function() {
      $("#id-tbl-coredata").toggle( "fast", function() {
         if ($("#btn-show-coredata").is(":visible")){
             $("#btn-show-coredata").html('Hide');
         }else{
             $("#btn-show-coredata").html('Show');
         }
      });
    });
});
</script>
{% endif %}
