<div>
    <table class='table table-bordered'>
        <tr>
            <th>tabular_info</th>
            <td>{{ tabular_info }} (id: {{ tabular_id }})</td>
        </tr>
        <tr>
            <th>dv_file</th>
            <td>{{ tabular_info.dv_file }}</td>
        </tr>
        <tr>
            <th>column_names</th>
            <td>{{ tabular_info.column_names }}</td>
        </tr>
        <tr>
            <th>num_rows</th>
            <td>{{ tabular_info.num_rows }}</td>
        </tr>
        <tr>
            <th>has_header_row</th>
            <td>{{ tabular_info.has_header_row }}</td>
        </tr>

    </table>
</div>
