{% if attribute_data %}

<div class="panel panel-default" style="margin-bottom:5px;">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a class="collapsed small" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Attribute Information
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <table id="id-tbl-attributes" class="table table-bordered table-condensed table-striped small">
          <tr>
              <th>&nbsp;</th>
              <th>Name</th>
              <th>Display Name</th>
              <th>Type</th>
          </tr>
          {% for col_info in attribute_data %}
          <tr{% if col_info.name == core_data.table_join_attribute %} class="info"{% endif %}>
              <td>{{ forloop.counter }}</td>
              <td>{{ col_info.name }}{% if col_info.name == core_data.table_join_attribute %}<br />* join column{% endif %}</td>
              <td>{{ col_info.display_name }}</td>
              <td>{{ col_info.type }}</td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    // show/hide attributes
    $("#btn-show-attributes").click(function() {
      $("#id-tbl-attributes").toggle( "fast", function() {
         if ($("#btn-show-attributes").is(":visible")){
             $("#btn-show-attributes").html('Hide');
         }else{
             $("#btn-show-attributes").html('Show');
         }
      });
    });
});
</script>
{% endif %}
