{% if attribute_data %}
<div class="row">
    <div class="col-md-6">
        <h5>Attribute Information</h5>
        <p><a id="btn-show-attributes" class="btn btn-info btn-xs">show</a></p>
        <table id="id-tbl-attributes" style="display:none;" class="table table-bordered table-condensed table-striped">
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Display Name</th>
                <th>Type</th>
            </tr>
        {% for col_info in attribute_data %}
            <tr{% if col_info.name == core_data.table_join_attribute %} class="info"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ col_info.name }}{% if col_info.name == core_data.table_join_attribute %}<br />* join column{% endif %}</td>
                <td>{{ col_info.display_name }}</td>
                <td>{{ col_info.type }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
<script>
$( document ).ready(function() {
    // show/hide attributes
    $("#btn-show-attributes").click(function() {
      $("#id-tbl-attributes").toggle( "fast", function() {
         if ($("#btn-show-attributes").is(":visible")){
             $("#btn-show-attributes").html('Hide');
         }else{
             $("#btn-show-attributes").html('Show');
         }
      });
    });
});
</script>
{% endif %}
