{% load humanize %}
The map below was created from your tabular file.
<ul>
    <li>Rows matched: <b>{{ core_data.matched_record_count|intcomma }}</b></li>
    {% if core_data.unmatched_record_count > 0 %}
    <li>Rows NOT matched: <b>{{ core_data.unmatched_record_count|intcomma }}</b>

            <a href="{% url 'view_unmatched_join_rows' worldmap_layerinfo.md5 %}">view unmatched rows</a>
    </li>
    {% endif %}
    <li>Join column: <b>{{ core_data.table_join_attribute }}{% if core_data.was_formatted_column_created %}*{% endif %}</b>

    {% comment %}
    {% if core_data.llbbox %}
        <li>Bounding box: <b>{{ core_data.llbbox}}</b></li>
    {% endif %}
    {% endcomment %}
</ul>

{% if core_data.was_formatted_column_created %}
<p>* This formatted column was created to better match the target layer.
    {% if core_data.zero_pad_length %}
        Each value in the column was padded with zeros
        to make it {{ core_data.zero_pad_length }} digit{{ core_data.zero_pad_length|pluralize }}
        in length.
    {% endif %}
</p>
{% endif %}
