{% load humanize %}
<br />
<div class="row">
    <div class="col-sm-12">

{#<h4>Dataverse File Preview</h4>#}

<p>Citation: {{ tabular_info.dataset_citation|safe }}</p>
<hr />
{% if NUM_PREVIEW_ROWS == tabular_info.num_rows %}
    Displaying {% if tabular_info.num_rows > 1 %} all {% endif %}
    <b>{{ NUM_PREVIEW_ROWS|intcomma }} row{{ NUM_PREVIEW_ROWS|pluralize }}</b>
{% else %}
   Total row count: <b>{{ tab_file_stats.num_rows|intcomma }}</b>
   <br />Preview of first <b>{{ NUM_PREVIEW_ROWS|intcomma }} row{{ NUM_PREVIEW_ROWS|pluralize }}</b>
{% endif %}

    <!-- START: Preview table -->
    <table id="preview-tbl" class="table table-bordered table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Row #</th>
                {% for col in tab_file_stats.column_names %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in tab_file_stats.preview_rows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                {% for val in row %}
                    <td>{{ val }}</td>
                {% empty %}
                (No rows to display)
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- END: Preview table -->
    </div><!-- end col -->
</div><!-- end row -->
