{% comment %}
Links to return directly back to Dataverse from a tabular page.
If a map has already beeen created use:

    - gis_shapefiles/link-back-to-dataverse.html

This is connected to modal boxes to verify keeping the map, etc.
{% endcomment %}
{% if gis_data_info and gis_data_info.return_to_dataverse_url %}
    <a href="{{ gis_data_info.return_to_dataverse_url }}" class="btn btn-success btn-xs">Return to the Dataverse</a>

{% else %}{% if return_to_dataverse_url %}
    <a href="{{ return_to_dataverse_url }}" class="btn btn-success btn-xs">Return to the Dataverse</a>

{% else %}{% if shapefile_info and shapefile_info.return_to_dataverse_url %}
    <a href="{{ shapefile_info.return_to_dataverse_url }}" class="btn btn-success btn-xs">Return to the Dataverse</a>

{% else %}{% if tabular_info and tabular_info.return_to_dataverse_url %}
    <a href="{{ tabular_info.return_to_dataverse_url }}" class="btn btn-success btn-xs">Return to the Dataverse</a>

{% else %}
    <a href="{{ DATAVERSE_SERVER_URL }}" class="btn btn-success btn-xs">Return to the Dataverse</a>
{% endif %}{% endif %}{% endif %}{% endif %}
