{% comment %}
Links to return directly back to Dataverse from a tabular page.
If a map has already beeen created use:

    - gis_shapefiles/link-back-to-dataverse.html

This is connected to modal boxes to verify keeping the map, etc.
{% endcomment %}
{% if tabular_info and tabular_info.return_to_dataverse_url %}
    <a href="{{ tabular_info.return_to_dataverse_url }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> Return to the Dataverse</a>
{% else %}
    <a href="{{ DATAVERSE_SERVER_URL }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> Return to the Dataverse</a>
{% endif %}
