{% extends "base_popup.html" %}
{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
{% endblock %}

{% block main_container %}

<!-- START: Unmatched rows -->
<p>The tabular data below was <b>NOT</b> mapped.</p>
    <br />Count: <b>{{ ummatched_rows|length }} row{{ ummatched_rows|pluralize }}</b>
</p>
<p>
    <pre>{{ ummatched_rows|join:", " }}<pre>
</p>
{% endblock %}
