{% if layer_info.matched_record_count == 0 %}
        <!-- This shouldn't happen.  e.g. WorldMap should send
        back an error message if no matches are found -->
    <div class="alert alert-danger">
        <p>Sorry! None of the rows matched for the column
            <b>{{ layer_info.layer_join_attribute }}</b>.</p>
        <p>Please try matching on a different column.</a>
    </div>
{% endif %}


{% endif %}
<div class="alert alert-info">
    <!--
        Add messages if unmatched_record_count > or
        or matched_record_count > 0

        etc.
    -->
</div>

{
  "tablejoin_id": 254,
  "matched_record_count": 156,
  "layer_typename": "geonode:join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "join_layer_typename": "geonode:join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "unmatched_record_count": 0,
  "worldmap_username": "rp",
  "unmatched_records_list": "",
  "tablejoin_view_name": "join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "join_layer_url": "/data/geonode:join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "layer_join_attribute": "TRACT",
  "table_name": "boston_income_01tab_2_5",
  "embed_map_link": "http://localhost:8000/maps/embed/?layer=geonode:join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "join_layer_id": "791",
  "layer_link": "http://localhost:8000/data/geonode:join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "table_id": 424,
  "table_join_attribute": "tract",
  "llbbox": "[-71.1908629979881, 42.2278900020655, -70.9862559993925, 42.3987970008647]",
  "layer_name": "geonode:join_boston_census_blocks_r0y_boston_income_01tab_2_5",
  "map_image_link": "http://localhost:8000/download/wms/791/png?layers=geonode%3Ajoin_boston_census_blocks_r0y_boston_income_01tab_2_5&width=658&bbox=-71.190862998%2C42.2278900021%2C-70.9862559994%2C42.3987970009&service=WMS&format=image%2Fpng&srs=EPSG%3A4326&request=GetMap&height=550"
}
