<!-- start: IFRAME MAP -->
{% include "gis_tabular/map_result_message.html" %}
<div class="row">
    <div class="col-md-9">
        &nbsp; <small><a href="{{ layer_data.layer_link }}" target="_blank">(View on WorldMap)</a></small>
        <iframe id="id_iframe_map" height="275" width="100%" src="{{ layer_data.embed_map_link }}"></iframe>
    </div>
    <div class="col-md-3">
        <h5>Legend</h5>
        <img src="{{ worldmap_layerinfo.get_legend_img_url }}" id="legend_img" alt="(legend not available)" style="border:1px solid #ccc; padding:7px;" />
        {% if download_links %}
        <h5>Download</h5>
            {% for dname, dlink in download_links.items %}
                <a href="{{ dlink }}">{{ dname }}</a>&nbsp;
            {% endfor %}
        {% endif %}
    </div>
</div>
{#% include "gis_tabular/map_attributes_list.html" %#}
{% if classify_form %}
    {% include "classification/view_classify_form.html" %}
{% endif %}
{% if delete_form %}
    {% include "gis_shapefiles/modal_delete_confirm.html" %}
    {% include "classification/classify_form_dynamic_js.html" %}
{% endif %}
{% include "gis_shapefiles/delete_and_back_to_dv_links.html" %}

<!-- end: IFRAME MAP -->
