{% extends "base.html" %}
{% block extra_js %}
<style>
#table-wrapper {
  position:relative;
    border:1px solid #333;
}
#table-scroll {
  height:300px;
  overflow:auto;
  margin-top:20px;
}
</style>
{% endblock %}

tabular id: {{ tabular_id }}
{% block main_container %}

<p>
    <b>Geospatial Data Type{{ geocode_types|pluralize }}</b>
    <ul>
        {% for gt in geocode_types %}
        <li>{{ gt }}</li>
        {% endfor %}
    </ul>
    <br /><br />
</p>
<p>
    <b>Column to join</b>
    <br /><br />
</p>

<div>
    <table class='table table-bordered'>
        <tr>
            <th>tabular_info</th>
            <td>{{ tabular_info }}</td>
        </tr>
        <tr>
            <th>dv_file</th>
            <td>{{ tabular_info.dv_file }}</td>
        </tr>
        <tr>
            <th>column_names</th>
            <td>{{ tabular_info.column_names }}</td>
        </tr>
        <tr>
            <th>num_rows</th>
            <td>{{ tabular_info.num_rows }}</td>
        </tr>
        <tr>
            <th>has_header_row</th>
            <td>{{ tabular_info.has_header_row }}</td>
        </tr>

    </table>
</div>

{% if NUM_PREVIEW_ROWS == tabular_info.num_rows %}
    Displaying {% if tabular_info.num_rows > 1 %} all {% endif %}
    <b>{{ NUM_PREVIEW_ROWS }} row{{ NUM_PREVIEW_ROWS|pluralize }}</b>
{% else %}
    Preview of first <b>{{ NUM_PREVIEW_ROWS }} row{{ NUM_PREVIEW_ROWS|pluralize }}</b>
{% endif %}


<div id="table-wrapper">
    <div id="table-scroll">
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <th>Row #</th>
        {% for col in tab_file_stats.column_names %}
        <th>{{ col }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in tab_file_stats.preview_rows %}
            <tr>
                <td>{{ forloop.counter }}</td>
            {% for val in row %}
                <td>{{ val }}</td>
            {% empty %}
            (No rows to display)
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</div>

{% endblock %}
