{% extends "base.html" %}
{% block extra_js %}
<style>
#table-wrapper {
  position:relative;
    border:1px solid #333;
}
#table-scroll {
  height:300px;
  overflow:auto;
  margin-top:20px;
}
</style>
<script>
    $( document ).ready(function() {
    });
</script>
{% endblock %}

{% block main_container %}


<!-- start panel -->
<div class="panel panel-default">
    <div class="panel-heading">
      {% include "gis_shapefiles/view_02_main_panel_title.html" %}
    </div>
    <div class="panel-body" id="id_main_panel_content">
        {{ tabular_map_div }}
    </div>
</div>
{% if DEBUG_MODE or is_staff %}
    {% include "gis_tabular/test_file_list.html" %}
{% endif %}
<!-- end panel -->
{% endblock %}
