{% extends "base.html" %}
{% block extra_js %}
<style>

</style>
{% include "gis_tabular/tabular_forms.js" %}
{% endblock %}

{% block main_container %}


<!-- start panel --><div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" id="id_main_panel_title">1. Map Tabular File
          - <span style="font-weight:plain; font-size:90%; color:#006699;">{{ tabular_info.get_dv_file_basename }}</span>
      </h3>
    </div>
    <div class="panel-body" id="id_main_panel_content">


<div class="row">
    {#<div class="col-sm-1"></div>#}
    <div class="col-sm-12">
        {% comment %}
        <h3>{{ tabular_info }} -
            <span style="font-size:85%">{{ tabular_info.get_dv_file_basename }}</span>
        </h3>
        {% endcomment %}
        <h4 class="text-left">WorldMap Data</h4>

        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Please select the type of geospatial data, and the WorldMap layer to join to.
        </p>
    </div>
</div>
<div id="msg_form_tabular" style="display:none;"></div>
<!-- START: tabular form -->
<form class="form-horizontal" id="form_map_tabular_file" method="post">

    {% csrf_token %}
    <div class="form-group">
      <label for="id_geocode_type" class="col-sm-3 control-label">Geospatial Data Type</label>
      <div class="col-sm-6">
          <select id="id_geocode_type" name="geocode_type" class="form-control">
              <option value="">Select ...</option>
          {% for gt in geocode_types %}
              <option value="{{ gt.0 }}">{{ gt.1 }}</option>
          {% endfor %}
          </select>
      </div>
    </div>
    <!-- Start: Inactive Form before Geospatial type is chosen -->

    <div class="form-group form_inactive_default">
        <div class="col-md-12">
            <h4>Dataverse File</h4>
            <p>
        </div>
        <label class="col-sm-3 control-label" for="id_chosen_column">Column Name</label>
        <div class="col-sm-6">
            <select id="id_chosen_column" class="form-control" disabled="disabled" name="chosen_column">
                <option value="">Select Disabled</option>
            </select>
        </div>
    </div>
    <!-- End: Inactive Form before Geospatial type is chosen -->

    <!-- Start: Single Column form -->
    {% for hidden in form_single_column.hidden_fields %}{{ hidden }}{% endfor %}

    {% for field in form_single_column.visible_fields %}{% spaceless %}

        <div class="form-group form_single_column_fields" style="display:none;">

            {% if field.name == "chosen_column" %}
            <div class="col-md-12">
                <h4>Dataverse File</h4>
                <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Please select the Dataverse file column to join to.</p>
            </div>
            {% endif %}
            <label for="{{ field.auto_id }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-6">
                {{ field }}
                {% if field.errors %}{{ field.errors}}{% endif %}
            </div>
        </div>
    {% endspaceless %}{% endfor %}
    <div class="form-group form_single_column_fields" style="display:none;">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-6">
            <a class="btn btn-sm btn-primary" id="id_frm_single_column_submit">Submit</a>
        </div>
    </div>
    <!-- End: Single Column form -->

    <!-- Start: Latitude/Longitude form -->
    {% csrf_token %}
    {% for hidden in form_lat_lng.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form_lat_lng.visible_fields %}{% spaceless %}
        <div class="form-group form_lat_lng_fields" style="display:none;">
            {% if field.name == "latitude" %}
            <div class="col-md-12">
                <h4>Dataverse File</h4>
                <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Please select the Dataverse file columns to join to.</p>
            </div>
            {% endif %}
            <label for="{{ field.auto_id }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-4">
                {{ field }}
                {% if field.errors %}{{ field.errors}}{% endif %}
            </div>
        </div>
    {% endspaceless %}{% endfor %}
        <div class="form-group form_lat_lng_fields" style="display:none;">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-4">
                <a class="btn btn-sm btn-primary" id="id_frm_lat_lng_submit">Submit Latitude & Longitude columns</a>
            </div>
        </div>
    <!-- End: Latitude/Longitude form -->
</form>
<!-- END: tabular form -->

{% include "gis_tabular/preview_rows.html" %}

{% if DEBUG_MODE or is_staff %}
 <h4>dev/debug items</h4>
 {% include "gis_tabular/test_file_list.html" %}
 {% include "gis_tabular/debug_help.html" %}
{% endif %}

</div>
</div>
{% endblock %}
