{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% if page_title %}{{ page_title }}{% else %}Geoconnect: Map Data{% endif %}</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
  body .modal-dialog:not(.modal-lg) {
    /* new custom width */
    width: 45%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left:auto;
    margin-right:auto;
  }
  .errorlist {
      color: red;
  }

  </style>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"><!-- 3.1.1 -->
  <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
  <link rel="stylesheet" href="{% static "css/structure.css" %}">
  <link rel="stylesheet" href="{% static "css/geoconnect.css" %}">
  <link rel="stylesheet" href="{% static "socicon/style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.min.css' %}">
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static "js/jquery-1.10.1.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
  {#<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>#}
  {% block extra_js %}
  {% endblock %}
</head>
<body>
  <!-- Navbar Panel -->
  <nav id="navbarFixed" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if shapefile_info and shapefile_info.return_to_dataverse_url %}
        <a href="{{ shapefile_info.return_to_dataverse_url }}">
          {% elif tabular_info and tabular_info.return_to_dataverse_url %}
          <a href="{{ tabular_info.return_to_dataverse_url }}">
            {% else %}
            <a href="{% url 'view_home' %}">
              {% endif %}
              <span class="navbar-brand">Geoconnect: Map Data Set Up</span></a>
              <!--a href="{% if tabular_info and tabular_info.return_to_dataverse_url %}{{ tabular_info.return_to_dataverse_url }}{% else %}{{ DATAVERSE_SERVER_URL }}{% endif %}"><span class="navbar-brand">Geoconnect: Map Data Set Up</span></a-->
              <!--a href="{#% url 'view_examine_dataset' %#}"><span class="navbar-brand">GeoConnect: Map Data</span></a-->
              <span class="label label-default beta">beta</span>
            </div>
            {% if is_logged_in and is_staff %}
            <div class="collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav navbar-right">

                <li><a href="{% url 'view_examine_dataset' %}">
                  Home
                </a>
              </li>
              <li><a href="{% url 'admin:index' %}">
                Admin
              </a>
            </li>

          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    <!-- Header Panel -->
    {% comment %}
    <div id="dataverseHeader" class="container" style="background:#F5F5F5;">
      <div class="dataverseHeaderBlock">
        <div class="dataverseHeaderCell dataverseHeaderName" style="padding-bottom:0;">
          {% block breadcrumb %}
          {% include "breadcrumb.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="container">
      {% block main_container %}
      base.html: block main_container
      {% endblock %}

    </div>

    <div id="footer" class="container">
      <div class="row">
          <div class="col-sm-8 small">
              <p>Developed at the <a href="http://www.iq.harvard.edu/" title="Institute for Quantitative Social Science" target="_blank">Institute for Quantitative Social Science</a>
            |
               Dataverse Project on <a href="https://twitter.com/dataverseorg" target="_blank" title="Dataverse Project on Twitter"><span class="socicon socicon-twitter" title="Dataverse Project on Twitter"></span></a>
            |
                Code available at <a href="https://github.com/IQSS/dataverse" target="_blank" title="Dataverse On GitHub"><span class="socicon socicon-github" title="Dataverse On GitHub"></span></a>
               </p>
               <p>Copyright &#169;  {% now "Y" %}, The President &#38; Fellows of Harvard College
                   {#|  <a href="http://best-practices.dataverse.org/harvard-policies/harvard-privacy-policy.html" target="_blank">Privacy Policy</a>#}
               </p></div>
           <div class="col-sm-4 text-right small">
                   {% now "F jS, Y H:i:s" %} <br />
                   {% if git_active_branch %}
                   <span class="version">
                       <a href="https://github.com/IQSS/geoconnect/tree/{{ git_active_branch }}" target="_blank">{{ git_active_branch }}</a>
                       |
                       <a href="https://github.com/IQSS/geoconnect/commit/{{ git_hexsha }}" target="_blank">{{ git_hexsha_short }}</a></span>
                       {% endif %}
           </div>

          </div>
      </div>
    </div>
  </body>
  </html>
