<!-- START: overall 'if' check -->
{% if Err_Found %}

    {# <!-- ########    Initial Errors when trying to retrieve initial dataverse information ############   -->#}
    {% if Dataverse_Connect_Err_Msg %}
    <div class="alert-danger alert">
        {% if FAILED_TO_RETRIEVE_DATAVERSE_FILE %}Sorry!  Failed to retrieve the file from the Dataverse.{% endif %}
        {% if FAILED_TO_CONVERT_RESPONSE_TO_JSON %}Sorry!  Failed to read data from the Dataverse.{% endif %}
        {% if FAILED_BAD_STATUS_CODE_FROM_WORLDMAP %}Sorry!  The Dataverse information was not converted properly.{% endif %}
        {% if FAILED_NOT_A_REGISTERED_DATAVERSE %}Sorry! This request is not from a Dataverse registered to use the WorldMap.{% endif %}

            <br /><br /><small>{{ Dataverse_Connect_Err_Msg|safe|linebreaks }}</small>
            <br />
    </div>
    {% endif %}


    {# <!-- ########    END: Initial Errors when trying to retrieve initial dataverse information ############   -->#}

    {% if Err_Msg %}
        <div class="alert-danger alert">Sorry!  Unable to open the shapefile.
                <p>{{ Err_Msg|linebreaks }}</p>
        </div>
    {% endif %}
    {% if Err_Shapefile_Could_Not_Be_Opened %}
        <div class="alert-danger alert">The shapefile could not be processed.
            <p>This looks like a shapefile but the file may be corrupt.</p>
        </div>
        {% if zip_name_list %}
        <div class="panel panel-default">
            <div class="panel-body">

                <p>The {{ zip_name_list|length }} file name{{ zip_name_list|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}:</p>
                <ol>
                    {% for fname in zip_name_list %}
                    <li>{{ fname }}</li>
                    {% empty %}
                        <li>No files in .zip</li>
                    {% endfor %}
                </ol>
            </div><!-- end: panel body -->

        </div><!-- end: panel -->
        {% endif %}

    {% endif %}




    {#  <!-- No shapefile, show alert --> #}
    {% if Err_No_File_Found %}
        <div class="alert-danger alert">Sorry! The file was not found.</div>
    {% endif %}

    {#  <!-- Invalid shapefile, show alert --> #}
    {% if Err_No_Shapefiles_Found %}
        <div class="alert-danger alert">Sorry! This was not a valid shapefile.</div>

        <div class="panel panel-default">
            <div class="panel-body">
                {#% if not zip_name_list %}<p>This was not a valid shapefile.</p>{% endif %#}
                <p>For a complete "shapefile," files are needed with the following extensions:
                    <ul>
                    {% for ext in WORLDMAP_MANDATORY_IMPORT_EXTENSIONS %}
                        <li>{{ ext }}</li>
                    {% endfor %}
                    </ul>
                </p>

                {% if zip_name_list %}
                <p>The {{ zip_name_list|length }} file name{{ zip_name_list|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}:</p>
                <ol>
                    {% for fname in zip_name_list %}
                    <li>{{ fname }}</li>
                    {% empty %}
                        <li>No files in .zip</li>
                    {% endfor %}
                </ol>
                {% endif %}

            </div><!-- end: panel body -->
        </div><!-- end: panel -->
    {% endif %}

    {#  <!-- Multiple shapefiles, show alert --> #}

    {% if Err_Multiple_Shapefiles_Found %}
        <div class="alert-danger alert">Sorry! Multiple shapefiles were found in the zip archive.
            <p>Please use a .zip file with only one shapefile</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">

            <p>The {{ list_of_shapefile_set_names|length }} shapefile name{{ list_of_shapefile_set_names|pluralize }} in the this .zip {{ zip_name_list|pluralize:"is,are"}}::</p>
                <ol>
                    {% for shp_name in list_of_shapefile_set_names %}
                    <li>{{ shp_name }}</li>
                    {% empty %}
                        <li>No names found</li>
                    {% endfor %}
                </ol>

            <p>A full listing of the {{ zip_name_list|length }} file{{ zip_name_list|pluralize }} in the .zip appears below:</p>
                <ol>
                    {% for fname in zip_name_list %}
                    <li>{{ fname }}</li>
                    {% empty %}
                        <li>No files in .zip</li>
                    {% endfor %}
                </ol>
            </div><!-- end: panel body -->
        </div><!-- end: panel -->
    {% endif %}
    {% include "worldmap_layers/buttons_delete_and_back_to_dv.html" %}<br />&nbsp;

{% endif %}<!-- END: overall 'if' check -->
